<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Station Shop Template</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <!-- templatemo 352 station shop -->
    <!--
    Station Shop Template
    http://www.templatemo.com/preview/templatemo_352_station_shop
    -->
    <link rel="stylesheet" type="text/css" href="../static/css/templatemo_style.css" th:href="@{/css/templatemo_style.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/css/ddsmoothmenu.css" th:href="@{/css/ddsmoothmenu.css}"/>
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/jquery.dualSlider.0.2.css" th:href="@{/css/jquery.dualSlider.0.2.css}"/>

    <link rel='stylesheet prefetch' href='http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css'/>
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/login.css" th:href="@{/css/login.css}"/>

    <script type="text/javascript" src="../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}">

    /***********************************************
    * Smooth Navigational Menu- (c) Dynamic Drive DHTML code library (www.dynamicdrive.com)
    * This notice MUST stay intact for legal use
    * Visit Dynamic Drive at http://www.dynamicdrive.com/ for full source code
    ***********************************************/

    </script>
    <script type="text/javascript" src="../static/js/ddsmoothmenu.js" th:src="@{/js/ddsmoothmenu.js}"></script>

    <script src="../static/js/jquery-1.3.2.min.js" type="text/javascript" th:src="@{/js/jquery-1.3.2.min.js}"></script>
    <script src="../static/js/jquery.easing.1.3.js" type="text/javascript" th:src="@{/js/jquery.easing.1.3.js}"></script>
    <script src="../static/js/jquery.timers-1.2.js" type="text/javascript" th:src="@{/js/jquery.timers-1.2.js}"></script>
    <script src="../static/js/jquery.dualSlider.0.3.min.js" type="text/javascript" th:src="@{/js/jquery.dualSlider.0.3.min.js}"></script>

    <script language="javascript" type="text/javascript">
    function clearText(field)
    {
        if (field.defaultValue == field.value) field.value = '';
        else if (field.value == '') field.value = field.defaultValue;
    }
    
    function showLoginForm() {
	    el = document.getElementById("loginform-parent");
 	    el.style.visibility = "visible";
    }

    document.onkeydown = function(evt) {
        evt = evt || window.event;
        if (evt.keyCode == 27) {
          el = document.getElementById("loginform-parent");
 	      if (el.style.visibility == "visible") el.style.visibility = "hidden";
        }
    };
    </script>

    <script type="text/javascript">


    ddsmoothmenu.init({
        mainmenuid: "top_nav", //menu DIV id
        orientation: 'h', //Horizontal or vertical menu: Set to "h" or "v"
        classname: 'ddsmoothmenu', //class added to menu's outer DIV
        //customtheme: ["#1c5a80", "#18374a"],
        contentsource: "markup" //"markup" or ["container_id", "path_to_menu_file"]
    })

    </script>

    <script type="text/javascript">

        $(document).ready(function() {

            $(".carousel").dualSlider({
                auto:true,
                autoDelay: 6000,
                easingCarousel: "swing",
                easingDetails: "easeOutBack",
                durationCarousel: 1000,
                durationDetails: 600
            });

        });

    </script>

</head>

<body>

<div id="templatemo_wrapper">
	<div id="templatemo_header">
    
    	<div id="site_title">
        	<h1><a href="#">Station Shop</a></h1>
        </div>
        
        <div id="header_right">
            <div th:if="${user}">
                <a href="#">My Account</a> | <a href="#">My Wishlist</a> | <a href="#">My Cart</a> | <a href="#">Checkout</a> | <a href="/logout" th:href="@{/logout}">Log out</a>
            </div>
            <div th:unless="${user}">
                <a href="#">My Cart</a> | <a href="#">Checkout</a> | <a href="#" onclick='showLoginForm()'>Log in</a>
            </div>
		</div>
        
        <div class="cleaner"></div>
    </div> <!-- END of templatemo_header -->
    
    <div id="templatemo_menu">
    	<div id="top_nav" class="ddsmoothmenu">
            <ul>
                <li><a href="/" class="selected">Home</a></li>
                <li><a href="products.html">Products</a>
                </li>
                <li><a href="about.html">About</a>
                </li>
                <li><a href="faqs.html">FAQs</a></li>
                <li><a href="checkout.html" th:href="@{/checkout}">Checkout</a></li>
                <li><a href="contact.html" th:href="@{/contact}">Contact</a></li>
            </ul>
            <br style="clear: left" />
        </div> <!-- end of ddsmoothmenu -->
        <div id="menu_second_bar">
        	<div id="top_shopping_cart">
            	Shopping Cart: <strong><span th:text="${cartCount}">3</span> Products, sum: <span th:text="${cartSum}"></span></strong> ( <a href="/cart" th:href="@{/cart}">Show Cart</a> )
            </div>
        	<div id="templatemo_search">
                <form action="#" method="get">
                  <input type="text" value="Search" name="keyword" id="keyword" title="keyword" onfocus="clearText(this)" onblur="clearText(this)" class="txt_field" />
                  <input type="submit" name="Search" value=" Search " alt="Search" id="searchbutton" title="Search" class="sub_btn"  />
                </form>
            </div>
            <div class="cleaner"></div>
    	</div>
    </div> <!-- END of templatemo_menu -->
    
    <div id="templatemo_middle" class="carousel">
    	<div class="panel">
				
				<div class="details_wrapper">
					
					<div class="details">
					
						<div class="detail">
							<h2><a href="#">Station Shop</a></h2>
                            <p>Station Shop is free website template by templatemo for ecommerce websites or online stores. Sed aliquam arcu. Donec urna massa, cursus et mattis at, mattis quis lectus. </p>
							<a href="#" title="Read more" class="more">Read more</a>
						</div><!-- /detail -->
						
						<div class="detail">
							<h2><a href="#">Fusce hendrerit</a></h2>
                            <p>Duis dignissim tincidunt turpis eget pellentesque. Nulla consectetur accumsan facilisis. Suspendisse et est lectus, at consectetur sem.</p>
							<a href="#" title="Read more" class="more">Read more</a>
						</div><!-- /detail -->
						
						<div class="detail">
							<h2><a href="#">Aenean massa cum</a></h2>
                            <p>Sed vel interdum sapien. Aliquam consequat, diam sit amet iaculis ultrices, diam erat faucibus dolor, quis auctor metus libero vel mi.</p>
							<a href="#" title="Read more" class="more">Read more</a>
						</div><!-- /detail -->
						
					</div><!-- /details -->
					
				</div><!-- /details_wrapper -->
				
				<div class="paging">
					<div id="numbers"></div>
					<a href="javascript:void(0);" class="previous" title="Previous" >Previous</a>
					<a href="javascript:void(0);" class="next" title="Next">Next</a>
				</div><!-- /paging -->
				
				<a href="javascript:void(0);" class="play" title="Turn on autoplay">Play</a>
				<a href="javascript:void(0);" class="pause" title="Turn off autoplay">Pause</a>
				
			</div><!-- /panel -->
	
			<div class="backgrounds">
				
				<div class="item item_1">
					<img src="../static/images/slider/01.jpg" th:src="@{/images/slider/02.jpg}" alt="Slider 01" />
				</div><!-- /item -->
				
				<div class="item item_2">
                    <img src="../static/images/slider/02.jpg" th:src="@{/images/slider/02.jpg}" alt="Slider 02" />
				</div><!-- /item -->
				
				<div class="item item_3">
                    <img src="../static/images/slider/03.jpg" th:src="@{/images/slider/02.jpg}" alt="Slider 03" />
				</div><!-- /item -->
				
			</div><!-- /backgrounds -->
    </div> <!-- END of templatemo_middle -->
    
    <div id="templatemo_main">
   		<div id="sidebar" class="float_l">

            <div class="sidebar_box"><span class="bottom"></span>
            	<h3>Categories</h3>   
                <div class="content"> 
                	<ul class="sidebar_list">
                    <!--/*@thymesVar id="categories" type="ArrayList<com.acsent.model.Category>"*/-->
                    <div  th:each="category : ${categories}" th:remove="tag">
                    <div th:switch="${categoryStat.index}" th:remove="tag">
                        <li  th:case="'0'" class="first selected">
                            <a  href="/category/1" th:href="@{/category/{id}(id=${category.id})}" th:text="${category.name}">Categoty 1</a>
                        </li>
                         <li  th:case="${categories.size()-1}" class="last">
                            <a  href="/category/2" th:href="@{/category/{id}(id=${category.id})}" th:text="${category.name}">Categoty 2</a>
                        </li>
                        <li  th:case="*" class="middle">
                            <a  href="/category/3" th:href="@{/category/{id}(id=${category.id})}" th:text="${category.name}">Categoty 3</a>
                        </li>
                    </div>
                    </div>
                    </ul>
                </div>
            </div>

            <div class="sidebar_box"><span class="bottom"></span>
            	<h3>Best Sellers </h3>   
                <div class="content"> 
                	<div class="bs_box">
                    	<a href="#"><img src="../static/images/templatemo_image_01.jpg" alt="Image 01" th:src="@{/images/templatemo_image_01.jpg}"/></a>
                        <h4><a href="#">Donec nunc nisl</a></h4>
                        <p class="price">$10</p>
                        <div class="cleaner"></div>
                    </div>
                    <div class="bs_box">
                        <a href="#"><img src="../static/images/templatemo_image_01.jpg" alt="Image 02" th:src="@{/images/templatemo_image_01.jpg}"/></a>
                        <h4><a href="#">Aenean eu tellus</a></h4>
                        <p class="price">$12</p>
                        <div class="cleaner"></div>
                    </div>
                    <div class="bs_box">
                        <a href="#"><img src="../static/images/templatemo_image_01.jpg" alt="Image 03" th:src="@{/images/templatemo_image_01.jpg}"/></a>
                        <h4><a href="#">Phasellus ut dui</a></h4>
                        <p class="price">$20</p>
                        <div class="cleaner"></div>
                    </div>
                    <div class="bs_box">
                        <a href="#"><img src="../static/images/templatemo_image_01.jpg" alt="Image 04" th:src="@{/images/templatemo_image_01.jpg}"/></a>
                        <h4><a href="#">Vestibulum ante</a></h4>
                        <p class="price">$16</p>
                        <div class="cleaner"></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="content" class="float_r">
        	<h1 th:text="${categoryName}">Products</h1>
            <!--/*@thymesVar id="items" type=""*/-->
            <div th:each="item : ${items}" class="product_box" th:class="${itemStat.index % 3 == 2}? 'product_box no_margin_right' : 'product_box'">
            	<a href="productdetail.html"><img src="../static/images/product/01.jpg" th:src="@{/images/product/{image}.jpg(image=${item.image})}" alt="Image 01" /></a>
                <h3 th:text="${item.name}">Item 1</h3>
                <p class="product_price" th:text="${item.priceFormatted}">$ 100</p>
                <form th:action="@{/addtocart}" method="POST">
                    <input type="hidden" name="itemId" th:value="${item.id}"/>
                    <button type="submit" class="add_to_card">Add to Cart</button>
                <!--<a href="shoppingcart.html" th:href="@{/addtocart}" class="add_to_card" onclick="$(this).closest('form').submit()">Add to Cart</a>-->
                </form>
                <a th:href="@{/item/{id}(id=${item.id})}" href="/item/1" class="detail">Detail</a>
            </div>        	
        </div>
        <div class="cleaner"></div>
    </div> <!-- END of templatemo_main -->
    
    <div id="templatemo_footer">
    	<p>
			<a href="index.html">Home</a> | <a href="products.html">Products</a> | <a href="about.html">About</a> | <a href="faqs.html">FAQs</a> | <a href="checkout.html">Checkout</a> | <a href="contact.html">Contact</a>
		</p>

    	Copyright © 2048 <a href="#">Your Company Name</a>
    </div> <!-- END of templatemo_footer -->
    
</div> <!-- END of templatemo_wrapper -->

<div id="loginform-parent" class="modal">
    <div id="loginform">
        <form th:action="@{/connect/facebook}" method="POST">
            <div id="facebook" onclick="$(this).closest('form').submit()">
                <i class="fa fa-facebook"></i>
                <div id="connect">Connect with Facebook</div>
            </div>
        </form>
        <div id="mainlogin">
            <div id="or">or</div>
            <h1>Log in with awesome new thing</h1>
            <form th:action="@{/login}" method="POST">
                <input type="text" name="username" placeholder="username or email" value="" required="required"/>
                <input type="password" name="password" placeholder="password" value="" required="required"/>
                <input style="display:none" type="checkbox" name="remember-me" checked="checked"/>
                <button type="submit"><i class="fa fa-arrow-right"></i></button>
            </form>
            <div id="note"><a href="#">Forgot your password?</a></div>
        </div>
    </div>
</div>

</body>
</html>