<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example </title>
</head>
<body>
<p>Create</p>
<form th:action="@{/login/create}" method="post" th:object="${user}">
    <div><label> User Name : <input type="text" name="username1"  th:field="*{username}"/> </label></div>
    <div><label> Password: <input type="text" name="password1" th:field="*{password}"/> </label></div>
    <div><input type="submit" value="Create"/></div>
</form>
</body>
</html>